<aside>
    <div class="col-sm-2">
        <a href="#" class="list-group-item active">欢迎登录</a>
        <a href="/" class="list-group-item">欢迎登录</a>

        <a href="#" class="list-group-item active">学员管理</a>
        <a href="/admin/user" class="list-group-item">学员列表</a>
        <a href="/admin/user/add" class="list-group-item">增加学员</a>

        <a href="#" class="list-group-item active">轮播图管理</a>
        <a href="/admin/focus" class="list-group-item">轮播图列表</a>
        <a href="/admin/focus/bdd" class="list-group-item">轮播图增加</a>

        <a href="#" class="list-group-item active">新闻分类管理</a>
        <a href="/admin/newscate" class="list-group-item">新闻分类列表</a>
        <a href="/admin/newscate/cdd" class="list-group-item">新闻分类增加</a>

        <a href="#" class="list-group-item active">新闻管理</a>
        <a href="/admin/news" class="list-group-item">新闻列表</a>
        <a href="/admin/news/edd" class="list-group-item">新闻增加</a>

    </div>
</aside>